body{
    max-width: 75cm;
    width: 90%;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
.navcontainer
.galist
.container{
    margin: 0 auto;
}
.logom{
    width: 5.2em;
    margin-left: auto;
    display: flex;
    outline-style: inset;
    outline-color: rgb(105, 105, 105);
}
.logotxt{
    text-align: end;
}
.nav{
    margin: 2em;
    padding-bottom: 1em;
    text-align: center;
}
.link
.navgb,
.navg{
    text-decoration: none;
    color: rgb(255, 255, 255);
    outline-width: 0.1em;
    font-size: 2.5em;
    margin: 0.4em;
    margin-right: 0.6em;
    outline-style: inset;
    outline-color: rgb(105, 105, 105);
    background-color: rgb(24, 24, 24);
    transition: 250ms ease-in-out;
}
.navg:hover,
.navg:focus,
.navgb:focus
.navgb:hover{
    transform: scale(1.1);
    opacity: 25%;
}
.clink{
    border-radius: 5em;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    outline-style: inset;
    outline-color: rgb(105, 105, 105);

}
.link{
    font-family: monospace;
    font-size: 2em;
    color: rgb(109, 109, 109);
    text-decoration: none;
}
.txtlbtn:hover,
.txtlbtn:focus
{
    opacity: 25%;
}
.MTXT{
    padding-top: 5em;
    text-align: center;
    font-size: 2em;
}
.aboutc{
    font-size: 1.3em;
    margin-left: 2em;
    padding-bottom: 2em;
    font-family: monospace;
    outline-style: inset;
}
.abouttxt{
    text-align: center;
}
.mfdsbrd{
    padding-left: 27%;
    padding-top: 5em;
}
.galist{
    display: inline-flex;
    flex-wrap: wrap;
}
.Gaimg{
    margin: 1.2em;
    width: 180px;
    margin-left: 50%;
    margin-right: 50%;
}